<ion-item (click)="toggleAccordion()" lines="full" detail="false">
  <ion-label>
    <h2>Bathrooms</h2>
  </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="filledAreas >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip slot="end" color="success" *ngIf="filledAreas >= 1">
    {{ filledAreas }}</ion-chip
  >
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <app-area-general-condition
    *ngFor="let bathroom of bathrooms; let i = index"
    ngDefaultControl
    [index]="i"
    [title]="'Bathroom ' + (i + 1)"
    type="Bathroom"
    (InspectionAreaGeneralChanged)="AreaUpdated($event)"
    [(InspectionArea)]="bathrooms[i]"
  ></app-area-general-condition>
</div>
