<ion-item (click)="toggleAccordion()" lines="none" detail="false">
  <ion-label [color]="titleColor"> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="showSuccess && progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip *ngIf="_model.materialLocation" color="secondary" slot="end">
    {{ selectAreaName }}
  </ion-chip>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Material Location</ion-label>
    <ion-select
      interface="popover"
      name="materialLocation"
      [disabled]="readonly"
      [(ngModel)]="_model.materialLocation"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of materialLocationList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset" *ngIf="other == _model.materialLocation">
    <ion-label position="floating">Material Location (Other)</ion-label>
    <ion-input
      [(ngModel)]="_model.materialLocationOther"
      (ionChange)="changeModel($event)"
      autocapitalize="sentences"
      type="text"
      [readonly]="readonly"
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Material Description</ion-label>
    <ion-input
      [(ngModel)]="_model.materialDescription"
      (ionInput)="changeModel($event)"
      autocapitalize="sentences"
      type="text"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>

  <app-slides-photos
    *ngIf="isMenuOpen"
    ngDefaultControl
    title="Area Pictures"
    [readonly]="readonly"
    name="areaPictures"
    (photoChanged)="changeModel($event)"
    [(ngModel)]="_model.areaPictures"
  ></app-slides-photos>

  <ion-item lines="inset">
    <ion-label position="floating">Total Quantity (sq ft)</ion-label>
    <ion-input
      [(ngModel)]="_model.totalQuantity"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">(F/NF)</ion-label>
    <ion-select
      interface="popover"
      name="F_NF"
      [disabled]="readonly"
      [(ngModel)]="_model.F_NF"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of F_NFList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Conditions</ion-label>
    <ion-select
      interface="popover"
      name="condition"
      [disabled]="readonly"
      [(ngModel)]="_model.condition"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of conditionList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Lab Results</ion-label>
    <ion-select
      interface="popover"
      name="labResults"
      [disabled]="readonly"
      [(ngModel)]="_model.labResults"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of labResultsList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Observations and Recommendations</ion-label>
    <ion-textarea
      autocapitalize="sentences"
      [readonly]="readonly"
      [(ngModel)]="_model.observations"
      (ionInput)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>

  <ion-item
    (click)="toggleAccordion()"
    lines="none"
    button
    class="ion-no-margin"
    detail="false"
  >
    <ion-label color="warning"> {{ "End " + title }}</ion-label>

    <ion-icon
      slot="end"
      *ngIf="!isMenuOpen"
      name="caret-down-outline"
    ></ion-icon>
    <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
  </ion-item>
</div>
