<ion-item (click)="toggleAccordion()" lines="none" detail="false">
  <ion-label [color]="titleColor"> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="showSuccess && progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip *ngIf="_model.sample" color="secondary" slot="end">
    {{ selectAreaName }}
  </ion-chip>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Sample Area</ion-label>
    <ion-select
      interface="popover"
      name="name"
      [disabled]="readonly"
      [(ngModel)]="_model.sample"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of sampleCodeList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item lines="inset" *ngIf="other == _model.sample">
    <ion-label position="floating">Sample Area (Other)</ion-label>
    <ion-input
      [(ngModel)]="_model.sampleOther"
      (ionChange)="changeModel($event)"
      type="text"
      [readonly]="readonly"
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Cardinal Direction </ion-label>
    <ion-select
      interface="popover"
      name="cardinalDirection"
      [disabled]="readonly"
      [(ngModel)]="_model.cardinalDirection"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option value="">Not Set</ion-select-option>
      <ion-select-option
        *ngFor="let item of cardinalDirectionList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Dimension cm2</ion-label>
    <ion-input
      [(ngModel)]="_model.dimensionCm2"
      (ionInput)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Material</ion-label>

    <ion-select
      interface="popover"
      name="material"
      [disabled]="readonly"
      [(ngModel)]="_model.material"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option value="">Not Set</ion-select-option>
      <ion-select-option
        *ngFor="let item of materialCodeList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Type of Sample</ion-label>
    <ion-select
      interface="popover"
      name="condition"
      [disabled]="readonly"
      [(ngModel)]="_model.typeOfSample"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of typeOfSampleCode; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Lab Results</ion-label>
    <ion-select
      interface="popover"
      name="labResults"
      [disabled]="readonly"
      [(ngModel)]="_model.labResults"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of labResultsCode; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Observations and Recommendations</ion-label>
    <ion-textarea
      [(ngModel)]="_model.observations"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="text"
    ></ion-textarea>
  </ion-item>

  <ion-item
    (click)="toggleAccordion()"
    lines="none"
    button
    class="ion-no-margin"
    detail="false"
  >
    <ion-label color="warning"> {{ "End " + title }}</ion-label>

    <ion-icon
      slot="end"
      *ngIf="!isMenuOpen"
      name="caret-down-outline"
    ></ion-icon>
    <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
  </ion-item>
</div>
