<ion-item (click)="toggleAccordion()" lines="full">
  <ion-label>
    <h2>{{ title }}</h2>
  </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="filledAreas >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip slot="end" color="success" *ngIf="filledAreas >= 1">
    {{ filledAreas }}</ion-chip
  >
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Inspection Type</ion-label>
    <ion-select
      interface="popover"
      [interfaceOptions]="{ cssClass: 'wider-popover' }"
      name="type"
      [(ngModel)]="_model.moldInspectionType"
      (ionChange)="AreaUpdated($event)"
    >
      <ion-select-option
        *ngFor="let value of damageInspectionType; let i = index"
        [value]="value"
        >{{ value }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <app-area-mold
    *ngFor="let area of _model.areasMold; let i = index"
    ngDefaultControl
    [title]="'Area ' + (i + 1)"
    (modelChanged)="AreaUpdated($event)"
    [(model)]="_model.areasMold[i]"
  ></app-area-mold>
</div>
