.active-menu {
  border-left: 5px solid var(--ion-color-danger);
}

body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }

  .card-title {
    position: absolute;
    top: 50%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-logo-enterprise {
    height: 8vh;
    width: auto;
    margin: auto;
    position: absolute;
    margin-left: -40px;
    left: 50%;
    top: 4%;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 70%;
    width: 100%;
    color: #fff;
  }

  .card-avatar {
    position: absolute;
  }

  .card-subtitle2 {
    font-size: 1em;
    position: absolute;
    top: 82%;
    width: 100%;
    color: #fff;
  }
}
