.active-menu {
  border-left: 5px solid var(--ion-color-danger);
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle2 {
    font-size: 1em;
    position: absolute;
    top: 80%;
    width: 100%;
    color: #fff;
  }
}
