<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Environmental Inspection</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaulthref=""> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon> </ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-inspection-general
    ngDefaultControl
    (generalInfoChanged)="UpdateEntity($event)"
    [(generalInfo)]="task.environmentalForm.generalInfoInspection"
  >
  </app-inspection-general>

  <app-areas-mold
    title="Mold Inspection"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.moldAreas"
  >
  </app-areas-mold>

  <app-areas-mold
    title="Bacteria (CAT3) Inspection"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.bacteriasAreas"
  >
  </app-areas-mold>

  <app-areas-mold
    title="Soot Inspection"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.sootAreas"
  >
  </app-areas-mold>

  <app-areas-moisture-mapping
    title="Moisture Mapping (MP)"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.moistureMappingAreas"
  >
  </app-areas-moisture-mapping>

  <app-areas-asbestos
    title="Asbestos"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.asbestosAreas"
  >
  </app-areas-asbestos>

  <app-areas-lead
    title="Lead"
    ngDefaultControl
    (modelChanged)="UpdateEntity($event)"
    [(model)]="task.environmentalForm.leadAreas"
  >
  </app-areas-lead>

  <ion-list>
    <ion-item>
      <ion-button (click)="completeTask()" expand="block" full color="success">
        Complete Inspection
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
