<ion-item (click)="toggleAccordion()" lines="none" button detail="false">
  <ion-label [color]="titleColor"> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="showSuccess && progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip *ngIf="selectAreaName" color="secondary" slot="end">
    {{ selectAreaName }}
  </ion-chip>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Area Name</ion-label>
    <ion-select
      interface="popover"
      name="name"
      [disabled]="readonly"
      [(ngModel)]="_model.areaName"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listArea; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset" *ngIf="other == _model.areaName">
    <ion-label position="floating">Area name (Other)</ion-label>
    <ion-input
      [(ngModel)]="_model.areaNameOther"
      (ionChange)="changeModel($event)"
      type="text"
      [readonly]="readonly"
    ></ion-input>
  </ion-item>

  <app-multiple-radio
    title="Area Conditions"
    ngDefaultControl
    name="areaCondition"
    [readonly]="readonly"
    [options]="listCondition"
    [(data)]="_model.areaCondition"
    (dataChange)="changeModel($event)"
  ></app-multiple-radio>

  <ion-item lines="inset">
    <ion-label position="floating">Area Relative Humidity %</ion-label>
    <ion-input
      [(ngModel)]="_model.areaRH"
      (ionChange)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>

  <app-slides-photos
    *ngIf="isMenuOpen"
    ngDefaultControl
    title="Area Pictures"
    [readonly]="readonly"
    name="areaPictures"
    (photoChanged)="changeModel($event)"
    [(ngModel)]="_model.areaPictures"
  ></app-slides-photos>

  <ion-item>
    <ion-label position="floating">Area Notes</ion-label>
    <ion-textarea
      [(ngModel)]="model.areaNotes"
      (ionInput)="changeModel($event)"
      type="text"
      [readonly]="readonly"
    ></ion-textarea>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>Remove Ceiling </ion-label>

    <ion-select
      [disabled]="readonly"
      interface="popover"
      name="name"
      [(ngModel)]="_model.removeCeiling"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listRemoveCeiling; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ceiling Notes</ion-label>
    <ion-textarea
      [readonly]="readonly"
      [(ngModel)]="_model.ceilingNotes"
      (ionInput)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>Remove Drywall </ion-label>
    <ion-select
      interface="popover"
      name="name"
      [disabled]="readonly"
      [(ngModel)]="_model.removeDrywall"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listRemoveDrywall; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Drywall Notes</ion-label>
    <ion-textarea
      [readonly]="readonly"
      [(ngModel)]="_model.drywallNotes"
      (ionInput)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>Remove Baseboards</ion-label>

    <ion-select
      interface="popover"
      name="name"
      [disabled]="readonly"
      [(ngModel)]="_model.removeBaseboards"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listRemoveBaseboards; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Baseboards Notes</ion-label>
    <ion-textarea
      [(ngModel)]="_model.baseboardsNotes"
      (ionInput)="changeModel($event)"
      type="text"
      [readonly]="readonly"
    ></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Remove Flooring </ion-label>
    <ion-select
      interface="popover"
      name="name"
      [disabled]="readonly"
      [(ngModel)]="_model.removeFlooring"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listRemoveFlooring; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Flooring Notes</ion-label>
    <ion-textarea
      [readonly]="readonly"
      [(ngModel)]="_model.flooringNotes"
      (ionInput)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>

  <app-multiple-radio
    title="Decontamination"
    ngDefaultControl
    [readonly]="readonly"
    name="decontamination"
    [options]="listDecontamination"
    [(data)]="_model.decontamination"
    (dataChange)="changeModel($event)"
  ></app-multiple-radio>

  <!-- 
listFurniture
listbeddingsOption -->
  <ion-item>
    <ion-label position="floating">Furniture</ion-label>
    <ion-select
      interface="popover"
      name="name"
      [(ngModel)]="_model.furnitureOption"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listFurniture; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Beddings</ion-label>
    <ion-select
      interface="popover"
      name="name"
      [(ngModel)]="_model.beddingsOption"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listbeddingsOption; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Observations and Recommendations</ion-label>
    <ion-textarea
      [(ngModel)]="_model.observations"
      (ionInput)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>

  <ion-list-header lines="inset">
    <ion-label>
      <strong>{{ title + " Samples" }}</strong></ion-label
    >
  </ion-list-header>

  <div *ngFor="let item of _model.samples; let i = index">
    <ion-list-header lines="inset">
      <ion-label>
        <strong>{{ "Sample " + (i + 1) }}</strong></ion-label
      >
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select
        interface="popover"
        name="itemType"
        [(ngModel)]="item.type"
        (ionChange)="changeModel($event)"
      >
        <ion-select-option
          *ngFor="
            let item of listSampleType | filterByField: 'sample':i:'number'
          "
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item lines="inset" *ngIf="item.sampleType == 'Mold'">
      <ion-label position="floating">Volume</ion-label>
      <ion-input
        [(ngModel)]="item.volume"
        (ionChange)="changeModel($event)"
        type="number"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="inset" *ngIf="item.sampleType == 'Mold'">
      <ion-label position="floating">Area (Swab)</ion-label>
      <ion-input
        [(ngModel)]="item.areaSwab"
        (ionChange)="changeModel($event)"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="inset" *ngIf="item.sampleType == 'Mold'">
      <ion-label position="floating">Cassette Number</ion-label>
      <ion-input
        [(ngModel)]="item.cassetteNumber"
        (ionChange)="changeModel($event)"
        type="text"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lab Result</ion-label>
      <ion-select
        interface="popover"
        name="labResult"
        [(ngModel)]="item.labResult"
        (ionChange)="changeModel($event)"
      >
        <ion-select-option
          *ngFor="
            let item of listlabResults | filterByField: 'sample':i:'number'
          "
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!-- <app-multiple-radio
      *ngIf="item.sampleType == 'Mold'"
      title="Mold Spores Found"
      ngDefaultControl
      name="areaCondition"
      [readonly]="readonly"
      [options]="listmoldSporesFound | filterByField: 'sample':i:'number'"
      [(data)]="item.moldSporesFound"
      (dataChange)="changeModel($event)"
    ></app-multiple-radio> -->

    <ion-item lines="inset" *ngIf="item.sampleType == 'Mold'">
      <ion-label position="floating">Toxic Mold</ion-label>
      <ion-select
        interface="popover"
        name="toxicMold"
        [(ngModel)]="item.toxicMold"
        (ionChange)="changeModel($event)"
      >
        <ion-select-option
          *ngFor="
            let item of listToxicMold | filterByField: 'sample':i:'number'
          "
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item
      *ngIf="item.sampleType == 'Mold' && item.toxicMoldboolean"
      color="danger"
    >
      <p>
        TOXIC MOLD: Positive presence of toxic Mold (Stachybotrys / Chaetomium)
        is in the tested area. It is suggested to perform the following
        described recommendations and the instructions marked in the scope of
        work. (Inspector Recommendations). It is suggested to keep exploring by
        cutting as needed in areas with visible damage. Clean, fog with
        anti-microbial, and encapsulate the area. Content cleaning and
        decontamination is suggested.
      </p>
    </ion-item>
  </div>
  <ion-item>
    <ion-label position="floating">Recommendations per area</ion-label>
    <ion-select
      interface="action-sheet"
      name="recomendations"
      [(ngModel)]="_model.recomendations"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listRecomendations; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

    <ion-item
    (click)="toggleAccordion()"
    lines="none"
    button
    class="ion-no-margin"
    detail="false"
  >
    <ion-label color="warning"> {{ "End " + title }}</ion-label>

    <ion-icon
      slot="end"
      *ngIf="!isMenuOpen"
      name="caret-down-outline"
    ></ion-icon>
    <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
  </ion-item>
</div>
