div {
  position: relative;
  padding: 2em;

  ion-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

/* Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class */
.active {
  display: block;
}

.inactive {
  display: none;
}
