<ion-item (click)="toggleAccordion()" lines="full">
  <ion-label>
    <h2>General</h2>
  </ion-label>

  <ion-icon
    slot="start"
    color="success"
    *ngIf="progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <ion-item>
    <ion-label position="floating">Property Year</ion-label>
    <ion-input
      [(ngModel)]="generalInfoInspection.propertyYear"
      (ionChange)="changeModel($event)"
      name="propertyYear"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Property Type</ion-label>
    <ion-select
      interface="popover"
      name="propertyType"
      (ionChange)="changeModel($event)"
      [(ngModel)]="generalInfoInspection.propertyType"
    >
      <ion-select-option value="Single Family Home"
        >Single-Family-Home</ion-select-option
      >
      <ion-select-option value="Condo/Apartment"
        >Condo/Apartment</ion-select-option
      >
      <ion-select-option value="Townhouse">Townhouse</ion-select-option>
      <ion-select-option value="Multi-family">Multi-family</ion-select-option>
      <ion-select-option value="Commercial">Commercial</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Picture of House Number</ion-label>
    <ion-fab-button (click)="takePictureHouseNumbers()" class="ion-margin">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-item>

  <ion-item>
    <app-photo
      ngDefaultControl
      name="pictureHouseNumbers"
      [(ngModel)]="generalInfoInspection.pictureHouseNumbers"
    ></app-photo>
  </ion-item>
  <app-slides-photos
    title="Pictures of front house"
    ngDefaultControl
    name="picturesFrontHouse"
    [(ngModel)]="generalInfoInspection.picturesFrontHouse"
    (photoChanged)="changeModel($event)"
  ></app-slides-photos>
</div>
