<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Processed Inspections</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen content-id="main-content"
  ><ion-list>
    <ion-list-header><p>{{today | date}}</p></ion-list-header>
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option (click)="call(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #04660c"
            name="call-outline"
          ></ion-icon
        ></ion-item-option>
        <ion-item-option (click)="seeDetails(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #665704"
            name="book-outline"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>
      <ion-item (click)="presentActionSheet()">
        <div class="ion-text-center">
          <ion-icon style="font-size: large" name="time-outline"></ion-icon>
          <ion-label><p>9:10 AM</p></ion-label>
        </div>
        <div style="padding-left: 15px">
          <ion-label>
            <h2>Andrew Brodie</h2>
            <h3>Environmental Inspection</h3>
            <p>3909 Kenwood Place Orlando FL 32836</p>
          </ion-label>
        </div>

        <ion-badge color="success" slot="end">Completed</ion-badge>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option (click)="call(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #04660c"
            name="call-outline"
          ></ion-icon
        ></ion-item-option>
        <ion-item-option (click)="seeDetails(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #665704"
            name="book-outline"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>
      <ion-item (click)="presentActionSheet()">
        <div class="ion-text-center">
          <ion-icon style="font-size: large" name="time-outline"></ion-icon>
          <ion-label><p>9:10 AM</p></ion-label>
        </div>
        <div style="padding-left: 15px">
          <ion-label>
            <h2>Helen W Bluhm</h2>
            <h3>Environmental Inspection</h3>
            <p>3925 Kenwood Place Orlando FL 32801</p>
          </ion-label>
        </div>
        <ion-badge color="warning" slot="end">Syncing</ion-badge>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option (click)="call(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #04660c"
            name="call-outline"
          ></ion-icon
        ></ion-item-option>
        <ion-item-option (click)="seeDetails(item)" color="white">
          <ion-icon
            style="font-size: xx-large; color: #665704"
            name="book-outline"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>
      <ion-item (click)="presentActionSheet()">
        <div class="ion-text-center">
          <ion-icon style="font-size: large" name="time-outline"></ion-icon>
          <ion-label><p>12:30 PM</p></ion-label>
        </div>
        <div style="padding-left: 15px">
          <ion-label>
            <h2>Contact Name</h2>
            <h3>Inspection Type</h3>
            <p>Service Address....</p>
          </ion-label>
        </div>
        <ion-badge slot="end">Status</ion-badge>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
