<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Expert Network Agreements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content has-header="true" class="ion-padding">
    <ion-row>
      <ion-col>
        <img
          src="../../../assets/images/ExpertNetwork.png"
          style="height: 20vh; width: auto; margin: auto; display: block"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> <ion-label color="medium">Name</ion-label> </ion-col>
      <ion-col>{{task.contactName}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> <ion-label color="medium">Address</ion-label> </ion-col>
      <ion-col>{{task.serviceAddress}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="task.insuranceCompany?.title">
        <ion-label color="medium">Insurance Carrier</ion-label>
      </ion-col>
      <ion-col>{{task.insuranceCompany.title}} </ion-col>
    </ion-row>

    <center><h2>PROJECT MANAGEMENT - WORK AUTHORIZATION</h2></center>
    <h4><b>SERVICES:</b> Project Management</h4>
    <h4>
      <b>ESTIMATE:</b> Amount billed to carrier $500 / 20% of subcontracted
      services.
    </h4>
    <h3>ESTIMATE SERVICE DETAILS:</h3>
    <ul style="list-style-type: disc">
      <li>Inspect and estimate property damage & repairs.</li>
      <li>
        New project setup, define scope, and up scopes, scheduling plan
        management, among other activities including travel logistics.
      </li>
      <li>
        Manage CRM and Manage orders and follow up through project management
        pipeline from the end-to-end until services are completed.
      </li>
      <li>
        Follow Up on Assignment of Benefits (AOBs)’s and all other required
        documents that need to be signed by the customer.
      </li>
      <li>Confirm Insurance (Verify Insurance Policy #, Claim #, Coverage).</li>
      <li>Collect and archive estimates & invoices for collections.</li>
      <li>
        Customer Service: Communicate with the clients / PA / Lawyers / etc.
      </li>
      <li>Update Daily Work Log.</li>
      <li>Monitor project work via schedule updates.</li>
      <li>Monitor scope to ensure there is no scope creep.</li>
      <li>
        Monitor quality via acceptance forms and punch walk forms from projects.
      </li>
      <li>Monitor project procurements.</li>
      <li>
        Monitoring performance to maintain the highest level of customer
        satisfaction.
      </li>
      <li>
        Follow up closure (quality assurance) - Closure with the customer: Final
        acceptance.
      </li>
    </ul>
    <div class="text-box">
      <b>EXPERT NETWORK, INC </b>, (“EXPERT NETWORK” OR “PROJECT MANAGER”) and
      Property Owner (“CLIENT”) named above agree as follows:
    </div>

    <h4>1.</h4>
    <div class="text-box">
      This Agreement is for the provision of project management services, to be
      performed on a non-exclusive, indefinite quantity basis, as requested by
      EXPERT NETWORK, as Project Manager, on behalf of the Property Owner in
      accordance with the terms of this Agreement. EXPERT NETWORK, shall select
      and manage environmental, structural, and/or any other inspections or
      surveys and, based thereupon, coordinate and manage restoration services,
      such as mold removal, water damage, roof and plumbing leaks, structural
      engineering, environmental testing and inspections, and other services at
      the above described property address. The services of EXPERT NETWORK,
      shall constitute services being provided on an emergency basis for the
      mitigation of damages to the property, but are also being performed for
      aesthetic and general cleanliness purposes, and to prevent further damage
      to the property or risk of injury of the residents. CLIENT and EXPERT
      NETWORK, agree that any and all other services shall be performed on an
      emergency and non-emergency basis specifically for the health, comfort and
      safety of the residents, and to set the conditions necessary for future
      repairs.
      <p>1.a. Fees for Services:</p>
      <p>
        a.1. All parties agree that EXPERT NETWORK, as Project Manager, will
        bill for its Project Management services a 20% Overhead and Profit fee
        for the ongoing oversight, management and coordination and only for
        services subcontracted by EXPERT NETWORK. Parties agree further that
        said project management fees will issue from Client’s Schedule A of
        applicable insurance policy.
      </p>
      <p>
        a.2. An estimate of services managed by/through EXPERT NETWORK, will be
        separately provided to Client and approved by client.
      </p>
    </div>

    <h4>2.</h4>
    <div class="text-box">
      Client shall provide access to the property to EXPERT NETWORK, for the
      above services to be performed, and agrees to cooperate with EXPERT
      NETWORK, to ensure that payments are made by any insurance carrier
      immediately upon completion of work. Client understands that EXPERT
      NETWORK, is working for Client and not Client’s insurance carrier, and
      that Client is ultimately responsible for payment for any services
      provided, and that the obligation to pay for those services arises
      directly out of this contract. All fees, costs and charges reflected on an
      Invoice shall be due within fifteen (15) days after the date of the
      Invoice. For any outstanding balance not paid in full within thirty (30)
      days from the date of the Invoice, interest shall accrue on the unpaid
      balance at the rate of 1.5% per month (18% per annum) from the date of
      default.
    </div>

    <h4>3. Direction to Pay.</h4>
    <div class="text-box">
      Client hereby demands and authorizes any applicable insurance carrier(s)
      to pay EXPERT NETWORK, solely and directly for any and all services
      provided. Clients or any co-insured should not be included as a payee.
      Client directs the insurance carrier to take any applicable deductible
      from other coverages or payments being made to or claimed by Client and
      not from any payments being made to EXPERT NETWORK.
    </div>

    <h4>4. Letter of Protection.</h4>
    <div class="text-box">
      Client hereby authorizes and instructs any agent, representative or
      attorney who now or in the future represents Client on any claim against
      Client’s insurance carrier related to this loss to issue to EXPERT
      NETWORK, a letter of protection for the full amount of any and all
      services provided, and directs any such agent, representative or attorney
      to pay EXPERT NETWORK, out of any funds received for the claim or any
      settlement related to the claim.
    </div>

    <h4>5. Consent to Communicate.</h4>
    <div class="text-box">
      Client hereby directs my insurance carrier(s) and mortgage provider to
      communicate directly with EXPERT NETWORK, and release any and all
      information requested by it, its representative, and/or its attorney for
      the direct purpose of obtaining actual benefits to be paid for services
      rendered or to be rendered. In this regard Client waives Client’s privacy
      rights. Should no claim yet exist, Client agrees and authorizes that
      submission of this document shall operate as a first notice of a claim to
      Client’s insurance carrier on Client’s behalf.
    </div>

    <h4>6. Request to Exceed Cap.</h4>
    <div class="text-box">
      Client understands that Client’s insurance policy may contain an arbitrary
      cap on services which requires additional approval. Should such a cap be
      contained in Client’s policy, this document hereby operates as a direct
      request to Client’s insurance carrier for approval to exceed such cap upon
      submission of this document.
    </div>

    <h4>7. Limited Power of Attorney.</h4>
    <div class="text-box">
      Client hereby appoints EXPERT NETWORK, as Client’s attorney in fact to
      endorse and deposit any payments made by any source for services rendered
      by EXPERT NETWORK, which may include Client’s name as a co-payee.
    </div>

    <h4>8. Assignment of Insurance Claim Benefits.</h4>
    <div class="text-box">
      Assignment of Insurance Claim Benefits. If Client’s insurance policy does
      not contain a total restriction prohibiting the assignment of post-loss
      claim benefits, Client hereby assigns to EXPERT NETWORK, any and all
      insurance rights, benefits, and proceeds which pertain to services
      rendered in relation to the above loss, under any applicable policy of
      insurance, whether listed on this contract or not. This assignment is
      limited to the amount of EXPERT NETWORK’s invoice for services rendered in
      relation to the above claim and the right and ability to collect the same
      directly from my insurer, including the right to file suit and to seek
      attorney's fees and court costs. To the extent EXPERT NETWORK may secure
      multiple types of services or services which may fall under different
      coverage portions of Client’s policy of insurance, Client hereby assigns
      to EXPERT NETWORK, a separate assignment of post-loss claim benefits
      pertaining to each category, coverage section of the policy, and invoice
      for services, as well as multiple separate assignments equal to the total
      value of any applicable cap to add up to the full value of its invoice(s).
      Client hereby waives any homestead exemption which might be applicable to
      such insurance funds. Any and all other insurance rights, benefits, and
      proceeds shall continue to belong to the Client. If the assignment of
      insurance claim benefits is applicable, EXPERT NETWORK shall provide a
      copy of this agreement to the Client's insurance carrier within 3 business
      days after the date on which the assignment agreement is executed, or on
      the date which work begins, whichever is earlier.
      <p>
        8.a. Client/Assignor understands that the assignment of benefits portion
        of this contract, if applicable, may be rescinded without penalty or fee
        by submitting a written notice of rescission signed by Client/Assignor
        to EXPERT NETWORK, within 14 days after the execution of the agreement,
        at least 30 days after the date work on the property is scheduled to
        commence if the EXPERT NETWORK, has not substantially performed, or at
        least 30 days after the execution of the agreement if the agreement does
        not contain a commencement date and the assignee has not begun
        substantial work on the property. Any such notice must be sent via
        certified mail to EXPERT NETWORK at 800 NW 154 Street, Suite 441, Miami
        Lakes, FL 33016 or via e-mail delivery to billing@expertnetwork.com. The
        Notice will be deemed to be submitted on the date it is received by
        EXPERT NETWORK.
      </p>
      <p>
        8.b. In the event of a rescission of the assignment of benefits, Client
        is then obligated for direct and immediate payment of any contracted
        work performed before the assignment of benefits is rescinded. The
        obligation to pay for such services arises out of this work
        authorization and not from the assignment itself. In the event of a
        rescission of the assignment of benefits, or if Client’s insurance
        policy contains a total restriction prohibiting the assignment of post
        loss claim benefits, then this term shall not apply and the parties
        agree that this contract shall construed and, if necessary, reformed as
        though this term was not contained herein.
      </p>
    </div>
    <h4>9. Limit of Liability.</h4>
    <div class="text-box">
      Client agrees that EXPERT NETWORK’s liability shall be expressly limited
      to the total amount of services authorized herein and that it shall not be
      liable for consequential damages of any kind.
    </div>
    <h4>10. Dispute Between the Parties.</h4>
    <div class="text-box">
      The Parties hereby agree that if there is any dispute between them,
      jurisdiction for such action will lie in Broward County, Florida.
      Additionally, EXPERT NETWORK must bring legal action to recover any amount
      it is owed, it shall be entitled to recover the cost of collection,
      including all attorney’s fees and court costs.
    </div>
    <h4>11. Miscellaneous.</h4>
    <div class="text-box">
      EXPERT NETWORK shall hold Client harmless from all liabilities, damages,
      losses, and costs should Client’s insurance policy prohibit, in whole or
      in part, the assignment of benefits. If any provision of this agreement is
      found to be unenforceable, the remaining provisions shall remain in
      effect.
    </div>

    <div class="text-box">
      The undersigned hereby warrants and represents that he/she has the
      authority to sign on behalf of any and all property owners, and named
      insureds, including any applicable mortgagee pursuant to the authority
      outlined in the applicable mortgage documents.
    </div>
    <h3>
      <strong
        >YOU ARE AGREEING TO GIVE UP CERTAIN RIGHTS YOU HAVE UNDER YOUR
        INSURANCE POLICY TO A THIRD PARTY WHICH MAY RESULT IN LITIGATION AGAINST
        YOUR INSURER. PLEASE READ AND UNDERSTAND THIS DOCUMENT BEFORE SIGNING
        IT. YOU HAVE THE RIGHT TO CANCEL THIS AGREEMENT WITHOUT PENALTY WITHIN
        14 DAYS AFTER THE DATE THIS AGREEMENT IS EXECUTED, AT LEAST 30 DAYS
        AFTER THE DATE WORK ON THE PROPERTY IS SCHEDULED TO COMMENCE IF THE
        ASSIGNEE HAS NOT SUBSTANTIALLY PERFORMED, OR AT LEAST 30 DAYS AFTER THE
        EXECUTION OF THE AGREEMENT IF THE AGREEMENT DOES NOT CONTAIN A
        COMMENCEMENT DATE AND THE ASSIGNEE HAS NOT BEGUN SUBSTANTIAL WORK ON THE
        PROPERTY. HOWEVER, YOU ARE OBLIGATED FOR PAYMENT OF ANY CONTRACTED WORK
        PERFORMED BEFORE THE AGREEMENT IS RESCINDED. THIS AGREEMENT DOES NOT
        CHANGE YOUR OBLIGATION TO PERFORM THE DUTIES REQUIRED UNDER YOUR
        PROPERTY INSURANCE POLICY.
      </strong>
    </h3>
    <center>
      <h2 style="text-decoration: underline">
        <strong>Florida Required Notices</strong>
      </h2>
    </center>
    <h3>
      <strong>
        YOU ARE AGREEING TO GIVE UP CERTAIN RIGHTS YOU HAVE UNDER YOUR INSURANCE
        POLICY TO A THIRD PARTY WHICH MAY RESULT IN LITIGATION AGAINST YOUR
        INSURER. PLEASE READ AND UNDERSTAND THIS DOCUMENT BEFORE SIGNING IT. YOU
        HAVE THE RIGHT TO CANCEL THIS AGREEMENT WITHOUT PENALTY WITHIN 14 DAYS
        AFTER THE DATE THIS AGREEMENT IS EXECUTED, AT LEAST 30 DAYS AFTER THE
        DATE WORK ON THE PROPERTY IS SCHEDULED TO COMMENCE IF THE ASSIGNEE HAS
        NOT SUBSTANTIALLY PERFORMED, OR AT LEAST 30 DAYS AFTER THE EXECUTION OF
        THE AGREEMENT IF THE AGREEMENT DOES NOT CONTAIN A COMMENCEMENT DATE AND
        THE ASSIGNEE HAS NOT BEGUN SUBSTANTIAL WORK ON THE PROPERTY. HOWEVER,
        YOU ARE OBLIGATED FOR PAYMENT OF ANY CONTRACTED WORK PERFORMED BEFORE
        THE AGREEMENT IS RESCINDED. THIS AGREEMENT DOES NOT CHANGE YOUR
        OBLIGATION TO PERFORM THE DUTIES REQUIRED UNDER YOUR PROPERTY INSURANCE
        POLICY.
      </strong>
    </h3>
    <div class="text-box">
      <strong
        >ACCORDING TO FLORIDA’S CONSTRUCTION LIEN LAW (SECTIONS 713.001-713.37,
        FLORIDA STATUTES), THOSE WHO WORK ON YOUR PROPERTY OR PROVIDE MATERIALS
        AND SERVICES AND ARE NOT PAID IN FULL HAVE A RIGHT TO ENFORCE THEIR
        CLAIM FOR PAYMENT AGAINST YOUR PROPERTY. THIS CLAIM IS KNOWN AS A
        CONSTRUCTION LIEN. IF YOUR CONTRACTOR OR A SUBCONTRACTOR FAILS TO PAY
        SUBCONTRACTORS, SUB-SUBCONTRACTORS, OR MATERIAL SUPPLIERS, THOSE PEOPLE
        WHO ARE OWED MONEY MAY LOOK TO YOUR PROPERTY FOR PAYMENT, EVEN IF YOU
        HAVE ALREADY PAID YOUR CONTRACTOR IN FULL. IF YOU FAIL TO PAY YOUR
        CONTRACTOR, YOUR CONTRACTOR MAY ALSO HAVE A LIEN ON YOUR PROPERTY. THIS
        MEANS IF A LIEN IS FILED YOUR PROPERTY COULD BE SOLD AGAINST YOUR WILL
        TO PAY FOR LABOR, MATERIALS, OR OTHER SERVICES THAT YOUR CONTRACTOR OR A
        SUBCONTRACTOR MAY HAVE FAILED TO PAY. TO PROTECT YOURSELF, YOU SHOULD
        STIPULATE IN THIS CONTRACT THAT BEFORE ANY PAYMENT IS MADE, YOUR
        CONTRACTOR IS REQUIRED TO PROVIDE YOU WITH A WRITTEN RELEASE OF LIEN
        FROM ANY PERSON OR COMPANY THAT HAS PROVIDED TO YOU A “NOTICE TO OWNER.”
        FLORIDA’S CONSTRUCTION LIEN LAW IS COMPLEX, AND IT IS RECOMMENDED THAT
        YOU CONSULT AN ATTORNEY.

        <br /><br />
        ANY CLAIMS FOR CONSTRUCTION DEFECTS ARE SUBJECT TO THE NOTICE AND CURE
        PROVISIONS OF CHAPTER 558, FLORIDA STATUTES.
        <br /><br />
        FLORIDA HOMEOWNERS’ CONSTRUCTION RECOVERY FUND
        <br /><br />
        PAYMENT, UP TO A LIMITED AMOUNT, MAY BE AVAILABLE FROM THE FLORIDA
        HOMEOWNERS’ CONSTRUCTION RECOVERY FUND IF YOU LOSE MONEY ON A PROJECT
        PERFORMED UNDER CONTRACT, WHERE THE LOSS RESULTS FROM SPECIFIED
        VIOLATIONS OF FLORIDA LAW BY A LICENSED CONTRACTOR. FOR INFORMATION
        ABOUT THE RECOVERY FUND AND FILING A CLAIM, CONTACT THE FLORIDA
        CONSTRUCTION INDUSTRY LICENSING BOARD AT THE FOLLOWING TELEPHONE NUMBER
        AND ADDRESS: 2601 BLAIR STONE ROAD, TALLAHASSEE, FLORIDA 32399-2215
        TELEPHONE NUMBER: (850) 921-6593
      </strong>
    </div>
    <div class="text-box"></div>
    <div
      *ngFor="let value of this.task.expertNetworkAgreements.signature.images; let i = index"
    >
      <ion-item>
        <ion-label>
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          {{ value.name}}</ion-label
        >
        <ion-chip
          *ngIf="canUpdate()"
          color="danger"
          (click)="dropSignature(i)"
          class="ion-text-center"
        >
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <img style="background-color: white" [src]="value.base64Image" />
      </ion-item>
    </div>

    <div [ngClass]="showSignatureField()">
      <ion-item lines="none" style="margin-top: 15px">
        <ion-label color="primary"
          >Contact Signature
          {{this.task.expertNetworkAgreements.signature.images.length +
          1}}</ion-label
        >
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input
          name="nameSignature"
          [(ngModel)]="nameSignature"
          type="text"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Signature</ion-label>
        <ion-button
          color="primary"
          expand="full"
          slot="end"
          [disabled]="canSave()"
          (click)="save()"
        >
          <ion-label>Save</ion-label></ion-button
        >
        <ion-button color="light" slot="end" expand="full" (click)="undo()">
          <ion-icon name="arrow-undo-outline"></ion-icon
        ></ion-button>
        <ion-button color="light" slot="end" expand="full" (click)="clear()">
          <ion-icon name="close-circle-outline"></ion-icon
        ></ion-button>
      </ion-item>

      <div class="text-box" style="border: solid; background-color: white">
        <canvas
          class="signature-pad-canvas"
          #canvas
          id="signature0"
          width="100%"
          height="200px"
          style="touch-action: none"
        ></canvas>
      </div>
    </div>

    <div class="text-box" style="margin-top: 15px">
      <center>V.02.21 SUBCONTRACTOR WORK AUTHORIZATION AND ASSIGNMENT</center>
    </div>
  </ion-content>
</ion-content>
