<ion-item (click)="toggleAccordion()" lines="full" button>
  <ion-label>
    <h2>General</h2>
  </ion-label>

  <ion-icon
    slot="start"
    color="success"
    *ngIf="progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Property Year</ion-label>
    <ion-input
      [(ngModel)]="generalInfoInspection.propertyYear"
      (ionChange)="changeModel($event)"
      name="propertyYear"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Property Type</ion-label>
    <ion-select
      interface="popover"
      name="propertyType"
      (ionChange)="changeModel($event)"
      [(ngModel)]="generalInfoInspection.propertyType"
    >
      <ion-select-option
        *ngFor="let item of propertyTypeList; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <app-slides-photos
    title="Picture of House Number"
    ngDefaultControl
    name="pictureHouseNumbers"
    [(ngModel)]="generalInfoInspection.pictureHouseNumbers"
    (photoChanged)="changeModel($event)"
  ></app-slides-photos>

  <app-slides-photos
    title="Pictures of front house"
    ngDefaultControl
    name="picturesFrontHouse"
    [(ngModel)]="generalInfoInspection.picturesFrontHouse"
    (photoChanged)="changeModel($event)"
  ></app-slides-photos>

  <div *ngIf="generalInfoInspection.environmentalInspection === true">
    <ion-item>
      <ion-label position="floating">Interior temperature</ion-label>
      <ion-input
        [(ngModel)]="generalInfoInspection.interiorTemperature"
        (ionChange)="changeModel($event)"
        name="interiorTemperature"
        type="number"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Exterior Relative Humidity %</ion-label>
      <ion-input
        [(ngModel)]="generalInfoInspection.exteriorRelativeHumidity"
        (ionChange)="changeModel($event)"
        name="exteriorRelativeHumidity"
        type="number"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">HVAC System Condition</ion-label>
      <ion-select
        interface="popover"
        name="HVACSystemCondition"
        (ionChange)="changeModel($event)"
        [(ngModel)]="generalInfoInspection.HVACSystemCondition"
      >
        <ion-select-option
          *ngFor="let item of HHVACConditions; let i = index"
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ducts Condition</ion-label>
      <ion-select
        interface="popover"
        name="ductsCondition"
        (ionChange)="changeModel($event)"
        [(ngModel)]="generalInfoInspection.ductsCondition"
      >
        <ion-select-option
          *ngFor="let item of DuctConditions; let i = index"
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Attic Condition</ion-label>
      <ion-select
        interface="popover"
        name="atticCondition"
        (ionChange)="changeModel($event)"
        [(ngModel)]="generalInfoInspection.atticCondition"
      >
        <ion-select-option
          *ngFor="let item of AticConditions; let i = index"
          [value]="item.value"
        >
          {{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </div>
</div>
