<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Agreements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content has-header="true" class="ion-padding">
    <ion-row>
      <ion-col>
        <img
          src="../../../assets/images/ITestLogo.png"
          style="height: 15vh; width: auto; margin: auto; display: block"
        />
      </ion-col>
    </ion-row>
    <h1>SUBCONTRACTOR WORK AUTHORIZATION AND ASSIGNMENT</h1>
    <h3>ESTIMATE BY SERVICES REQUIRED:</h3>
    <ul style="list-style-type: disc">
      <li>$1495 Environmental Testing & Inspection</li>
      <li>$495 Mold Labs (up to 3 samples)</li>
      <li>$95 Additional Mold Samples</li>
      <li>$495 Moisture Mapping</li>
      <li>$1995 CAT 3 (Bacteria) Inspection / Testing</li>
      <li>$2295 Asbestos Testing (up to 15 samples)</li>
      <li>$1995 Lead Testing</li>
      <li>$2795 Structural Engineering</li>
      <li>$1995 Soot (Fire) Inspection</li>
    </ul>
    <div class="text-box">
      iTest Environmental, LLC, (“iTEST”), and CLIENT named above agree as
      follows:
    </div>

    <h4>1.</h4>
    <div class="text-box">
      iTEST shall provide assessment and testing services at the above described
      property address, as a subcontractor overseen by Expert Network, Inc. a
      project management and logistics company. Client and iTEST agree that any
      and all testing and assessment services being provided are being performed
      on a non-emergency basis and not to address or prevent any potential
      damage, as iTEST is not a remediation company. An estimate of services is
      being provided to Client and is hereby incorporated herein as part of this
      agreement by reference, and Client agrees and understands that Expert
      Network, Inc. shall be directly entitled to its standard ten percent (10%)
      overhead and ten percent (10%) profit in addition to any final invoice as
      overseeing general building contractor.
    </div>

    <h4>2.</h4>
    <div class="text-box">
      Client shall provide access to the property to iTEST for the above
      services to be performed, and agrees to cooperate with iTEST to ensure
      that payments are made by any insurance carrier immediately upon
      completion of work. Client understands that iTEST is working for Client
      and not Client’s insurance carrier, and that Client is ultimately
      responsible for payment for any services provided, and that the obligation
      to pay for those services arises directly out of this contract.
    </div>

    <h4>3. Direction to Pay.</h4>
    <div class="text-box">
      Client hereby demands and authorizes any applicable insurance carrier(s)
      to pay iTEST solely and directly for any and all services provided, while
      Expert Network, Inc. shall be directly entitled to be paid its overhead
      and profit. Client or any co-insured should not be included as a payee.
      Client directs the insurance carrier to take any applicable deductible
      from other coverages or payments being made to or claimed by Client and
      not from any payments being made to iTEST. If any form of testing done is
      not covered or allowed under Client’s policy of insurance, Client hereby
      directs Client’s insurance carrier(s) to issue payment for same directly
      to iTEST and to deduct any such payments from payments being made for
      covered portions of Client’s loss.
    </div>

    <h4>4. Letter of Protection.</h4>
    <div class="text-box">
      Client hereby authorizes and instructs any agent, representative or
      attorney who now or in the future represents Client on any claim against
      Client’s insurance carrier related to this loss to issue to iTEST a letter
      of protection for the full amount of any and all services provided, and
      directs any such agent, representative or attorney to pay iTEST out of any
      funds received for the claim or any settlement related to the claim.
      Client further agrees to inform any attorney or representative of iTEST’s
      contract and invoice.
    </div>

    <h4>4. Linked Websites</h4>
    <div class="text-box">
      The Site may contain links to other websites that are not owned or
      operated by Stamplay, and you agree that Stamplay provides links to such
      websites solely as a convenience and has no responsibility for the content
      or availability of such websites, and that Stamplay does not endorse such
      websites or any products or services associated therewith. Your use of
      such websites will be subject to the terms of use applicable to each such
      website.
    </div>

    <h4>5. Consent to Communicate.</h4>
    <div class="text-box">
      Client hereby directs my insurance carrier(s) and mortgage provider to
      communicate directly with iTEST and release any and all information
      requested by it, its representative, and/or its attorney for the direct
      purpose of obtaining actual benefits to be paid for services rendered or
      to be rendered. In this regard Client waives Client’s privacy rights.
      <strong>
        Should no claim yet exist, Client agrees and authorizes that submission
        of this document shall operate as a first notice of a claim to Client’s
        insurance carrier(s) on Client’s behalf.</strong
      >
    </div>

    <h4>6. Request to Exceed Cap.</h4>
    <div class="text-box">
      Client understands that Client’s insurance policy may contain an arbitrary
      cap on services which requires additional approval. Should such a cap be
      contained in Client’s policy, submission of this document hereby operates
      as a direct request to Client’s insurance carrier for approval to exceed
      such cap.
    </div>

    <h4>7. Payment Terms</h4>
    <div class="text-box">
      All fees, costs and charges reflected on an Invoice shall be due within
      fifteen (15) days after the date of the Invoice. For any outstanding
      balance not paid in full within thirty (30) days from the date of the
      Invoice, interest shall accrue on the unpaid balance at the rate of 1.5%
      per month (18% per annum) from the date of default.
    </div>

    <h4>8. Assignment of Insurance Claim Benefits.</h4>
    <div class="text-box">
      If Client’s insurance policy does not contain a total restriction
      prohibiting the assignment of post-loss claim benefits, Client hereby
      assigns to iTEST any and all insurance rights, benefits, and proceeds
      which pertain to services rendered in relation to the above loss, under
      any applicable policy of insurance, whether listed on this contract or
      not. This assignment is limited to the amount of iTEST’s invoice for
      services rendered in relation to the above claim and the right and ability
      to collect same directly from my insurer, including the right to file suit
      and to seek attorney's fees and court costs. To the extent iTEST may
      perform multiple types of services or services which may fall under
      different coverage portions of Client’s policy of insurance, Client hereby
      assigns to iTEST a separate assignment of post-loss claim benefits
      pertaining to each category, coverage section of the policy, and invoice
      for services. Client hereby waves any homestead exemption which might be
      applicable to such insurance funds. Any and all other insurance rights,
      benefits, and proceeds shall continue to belong to the Client. If the
      assignment of insurance claim benefits is applicable, iTEST shall provide
      a copy of this agreement to Client’s insurance carrier within 3 business
      days after the date on which the assignment agreement is executed, or on
      the date which work begins, whichever is earlier.

      <br />
      Client/Assignor understands that the assignment of benefits portion of
      this contract, if applicable, may be rescinded without penalty or fee by
      submitting a written notice of rescission signed by Client/Assignor to
      iTEST within 14 days after the execution of the agreement, at least 30
      days after the date work on the property is scheduled to commence if the
      iTEST has not substantially performed, or at least 30 days after the
      execution of the agreement if the agreement does not contain a
      commencement date and the assignee has not begun substantial work on the
      property. Any such notice must be sent via certified mail to EXPERT
      NETWORK at 14411 Commerce Way, Suite 300, Miami Lakes, FL 33016 or via
      e-mail delivery to collections@itestenvironmental.com. The Notice will be
      deemed to be submitted on the date it is received by EXPERT NETWORK.

      <br />
      <strong
        >In the event of a rescission of the assignment of benefits, Client is
        then obligated for direct and immediate payment of any contracted work
        performed before the assignment of benefits is rescinded. The obligation
        to pay for such services arises out of this work authorization and not
        from the assignment itself. In the event of a rescission of the
        assignment of benefits, or if Client’s insurance policy contains a total
        restriction prohibiting the assignment of post-loss claim benefits, then
        this term shall not apply and the parties agree that this contract shall
        construed and, if necessary, reformed as though this term was not
        contained herein.
      </strong>
    </div>
    <h4>9. Dispute Between the Parties.</h4>
    <div class="text-box">
      The Parties hereby agree that if there is any dispute between them,
      jurisdiction for such action will lie in Broward County, Florida.
      Additionally, if iTEST must bring legal action to recover any amount it is
      owed, it shall be entitled to recover the cost of collection, including
      all attorney’s fees and court costs.
    </div>
    <h4>10. Limited Power of Attorney.</h4>
    <div class="text-box">
      Client hereby appoints iTEST as Client’s attorney in fact to endorse and
      deposit any payments made by any source for services rendered by iTEST
      which may include Client’s name as a co-payee.
    </div>
    <h4>11.</h4>
    <div class="text-box">
      Client agrees that iTEST’s liability for any damages arising from its
      services shall be limited to the total amount charged for services under
      this contract and that iTEST shall not be liable for any consequential
      damages. iTEST shall hold Client harmless from all liabilities, damages,
      losses, and costs should Client’s insurance policy prohibit, in whole or
      in part, the assignment of benefits. In the event iTEST is not allowed to
      perform its recommended procedures, I/we agree to release and hold iTEST
      harmless, and indemnify iTEST against all claims or actions that may
      result from such procedures. If any provision of this agreement is found
      to be unenforceable, the remaining provisions shall remain in effect.
    </div>

    <div class="text-box">
      The undersigned hereby warrants and represents that he/she has the
      authority to sign on behalf of any and all property owners, and named
      insureds, including any applicable mortgagee pursuant to the authority
      outlined in the applicable mortgage documents.
    </div>
    <h3>
      <strong
        >YOU ARE AGREEING TO GIVE UP CERTAIN RIGHTS YOU HAVE UNDER YOUR
        INSURANCE POLICY TO A THIRD PARTY WHICH MAY RESULT IN LITIGATION AGAINST
        YOUR INSURER. PLEASE READ AND UNDERSTAND THIS DOCUMENT BEFORE SIGNING
        IT. YOU HAVE THE RIGHT TO CANCEL THIS AGREEMENT WITHOUT PENALTY WITHIN
        14 DAYS AFTER THE DATE THIS AGREEMENT IS EXECUTED, AT LEAST 30 DAYS
        AFTER THE DATE WORK ON THE PROPERTY IS SCHEDULED TO COMMENCE IF THE
        ASSIGNEE HAS NOT SUBSTANTIALLY PERFORMED, OR AT LEAST 30 DAYS AFTER THE
        EXECUTION OF THE AGREEMENT IF THE AGREEMENT DOES NOT CONTAIN A
        COMMENCEMENT DATE AND THE ASSIGNEE HAS NOT BEGUN SUBSTANTIAL WORK ON THE
        PROPERTY. HOWEVER, YOU ARE OBLIGATED FOR PAYMENT OF ANY CONTRACTED WORK
        PERFORMED BEFORE THE AGREEMENT IS RESCINDED. THIS AGREEMENT DOES NOT
        CHANGE YOUR OBLIGATION TO PERFORM THE DUTIES REQUIRED UNDER YOUR
        PROPERTY INSURANCE POLICY.
      </strong>
    </h3>
    <div class="text-box"></div>
    <div
      *ngFor="let value of this.task.agreements.signature.images; let i = index"
    >
      <ion-item>
        <ion-label>
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          {{"Client Signature #"+(i+1)}}</ion-label
        >
        <ion-chip
          color="danger"
          (click)="dropSignature(i)"
          class="ion-text-center"
        >
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <img style="background-color: white" [src]="value.base64Image" />
      </ion-item>
    </div>

    <div
      [ngClass]=" this.task.agreements.signature.images.length<=1 ? 'active' : 'inactive'"
    >
      <ion-item>
        <ion-label>Signature</ion-label>
        <ion-button
          color="primary"
          expand="full"
          slot="end"
          [disabled]="isCanvasBlank()"
          (click)="save()"
        >
          <ion-label>Save</ion-label></ion-button
        >
        <ion-button color="light" slot="end" expand="full" (click)="undo()">
          <ion-icon name="arrow-undo-outline"></ion-icon
        ></ion-button>
        <ion-button color="light" slot="end" expand="full" (click)="clear()">
          <ion-icon name="close-circle-outline"></ion-icon
        ></ion-button>
      </ion-item>
      <div class="text-box" style="border: solid; background-color: white">
        <canvas
          class="signature-pad-canvas"
          #canvas
          id="signature0"
          width="100%"
          height="200px"
          style="touch-action: none"
        ></canvas>
      </div>
    </div>

    <div class="text-box" style="margin-top: 15px">
      <center>V.02.21 SUBCONTRACTOR WORK AUTHORIZATION AND ASSIGNMENT</center>
    </div>
  </ion-content>
</ion-content>
