<ion-item (click)="toggleAccordion()" lines="none" button>
  <ion-label> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label>Select conditions:</ion-label>
    <ion-chip slot="end" color="warning">{{
      kitchen.condition.length
    }}</ion-chip>
  </ion-item>
  <ion-item *ngFor="let item of _conditions; let i = index" lines="none">
    <ion-checkbox
      slot="start"
      color="warning"
      (ionChange)="onConditionChange($event, i)"
      [(ngModel)]="item.checked"
    ></ion-checkbox>
    <ion-label>{{ item.name }}</ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Moisture Level</ion-label>
    <ion-input
      [(ngModel)]="kitchen.moistureLevel"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>Water Quality Test</ion-label>
    <ion-toggle
      slot="start"
      (ionChange)="changeModel($event)"
      name="qualityTest"
      color="primary"
      [(ngModel)]="kitchen.waterQualityTest"
    ></ion-toggle>
  </ion-item>

  <app-slides-photos
    ngDefaultControl
    title="Pictures"
    name="pictures"
    (photoChanged)="changeModel($event)"
    [(ngModel)]="kitchen.pictures"
  ></app-slides-photos>

  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea
      [(ngModel)]="kitchen.notes"
      (ionChange)="changeModel($event)"
      type="text"
    ></ion-textarea>
  </ion-item>
</div>
