<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Comprehensive Inspection</ion-title>
    <!-- <ion-badge
      slot="end"
      [color]="task.inspectionType =='Environmental Inspection' ? 'environmental' : 'comprehensive'"
      style="margin-right: 1em"
      >{{task.inspectionType}}</ion-badge
    > -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-inspection-general
    ngDefaultControl
    (generalInfoChanged)="UpdateEntity($event)"
    [(generalInfo)]="task.comprehesiveForm.generalInfoInspection"
  >
  </app-inspection-general>

  <app-areas
    ngDefaultControl
    (AreasListChanged)="UpdateEntity($event)"
    [(InspectionAreas)]="task.comprehesiveForm.areas"
  >
  </app-areas>

  <app-bathrooms
    ngDefaultControl
    (AreasListChanged)="UpdateEntity($event)"
    [(InspectionAreas)]="task.comprehesiveForm.bathrooms"
  >
  </app-bathrooms>

  <app-kitchen
    ngDefaultControl
    (kitchenChanged)="UpdateEntity($event)"
    title="Kitchen"
    type="Kitchen"
    [(InspectionAreas)]="task.comprehesiveForm.kitchen"
  >
  </app-kitchen>

  <app-area-general-condition
    ngDefaultControl
    title="HVAC / AC"
    type="HVAC_AC"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [(InspectionArea)]="task.comprehesiveForm.HVAC_AC"
  ></app-area-general-condition>

  <app-area-general-condition
    ngDefaultControl
    title="Utility Room"
    type="UtilityRoom"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [(InspectionArea)]="task.comprehesiveForm.utilityRoom"
  ></app-area-general-condition>

  <app-area-general-condition
    ngDefaultControl
    title="Atic"
    type="Atic"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [(InspectionArea)]="task.comprehesiveForm.atic"
  ></app-area-general-condition>

  <app-enviromental-section
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    [(data)]="task.comprehesiveForm.enviromentalSection"
  ></app-enviromental-section>

  <app-exterior
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    type="Exterior"
    [(data)]="task.comprehesiveForm.exterior"
  ></app-exterior>

  <ion-list>
    <ion-item>
      <ion-button (click)="completeTask()" expand="block" full color="success">
        Complete Inspection
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
