<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{task.id + " - " + (task.contactName&&task.contactName!= ""
      ?task.contactName : task.title) }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon> </ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">
      <center><h2>Comprehensive Inspection</h2></center>
    </ion-label>
  </ion-item>
  <app-inspection-general
    ngDefaultControl
    (generalInfoChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(generalInfo)]="task.comprehesiveForm.generalInfoInspection"
  >
  </app-inspection-general>

  <app-areas
    ngDefaultControl
    (AreasListChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(InspectionAreas)]="task.comprehesiveForm.areas"
  >
  </app-areas>

  <app-bathrooms
    ngDefaultControl
    (AreasListChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(InspectionAreas)]="task.comprehesiveForm.bathrooms"
  >
  </app-bathrooms>

  <app-kitchen
    ngDefaultControl
    (KitchenChanged)="UpdateEntity($event)"
    title="Kitchen"
    [readonly]="readonly"
    type="Kitchen"
    [(Kitchen)]="task.comprehesiveForm.kitchen"
  >
  </app-kitchen>

  <app-area-general-condition
    ngDefaultControl
    title="HVAC / AC"
    [readonly]="readonly"
    type="HVAC_AC"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [(InspectionArea)]="task.comprehesiveForm.HVAC_AC"
  ></app-area-general-condition>

  <app-area-general-condition
    ngDefaultControl
    title="Utility Room"
    type="UtilityRoom"
    [readonly]="readonly"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(InspectionArea)]="task.comprehesiveForm.utilityRoom"
  ></app-area-general-condition>

  <app-area-general-condition
    ngDefaultControl
    title="Attic"
    type="Atic"
    (InspectionAreaGeneralChanged)="UpdateEntity($event)"
    [(InspectionArea)]="task.comprehesiveForm.atic"
    [readonly]="readonly"
  ></app-area-general-condition>

  <app-enviromental-section
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    [(data)]="task.comprehesiveForm.enviromentalSection"
    [readonly]="readonly"
  ></app-enviromental-section>

  <app-exterior
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    type="Exterior"
    [readonly]="readonly"
    [(data)]="task.comprehesiveForm.exterior"
  ></app-exterior>
  <app-recomendations
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    type="InspectionRecommendations"
    [(data)]="task.comprehesiveForm.recomendations"
    [readonly]="readonly"
  ></app-recomendations>

  <app-insurance
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(data)]="task.comprehesiveForm.insurance"
  ></app-insurance>

  <app-reminders
    ngDefaultControl
    (dataChanged)="UpdateEntity($event)"
    [readonly]="readonly"
    [(data)]="task.comprehesiveForm.reminders"
  ></app-reminders>

  <ion-item>
    <ion-badge
      [color]="task.internalStatus === 'Completed'? 'success' : task.internalStatus.includes('Pending') ? 'danger' :
    task.internalStatus === 'In Progress'? 'warning' :  task.internalStatus === 'Saved'? 'primary' : task.internalStatus === 'Labs Sent'?'tertiary' :'medium' "
      slot="end"
      >{{task.internalStatus}}</ion-badge
    >
  </ion-item>

  <ion-item
    class="ion-margin"
    lines="none"
    (click)="openAgreements('ITestAgreements')"
  >
    <ion-label>ITest Agreements</ion-label>
    <ion-icon slot="start" color="success" name="reader-outline"></ion-icon>
    <ion-badge
      [color]=" this.task.iTestAgreements &&
    this.task.iTestAgreements.signature.images.length > 0? 'success' : 'medium' "
      slot="end"
      >{{this.task.iTestAgreements &&
      this.task.iTestAgreements.signature.images.length > 0? 'Signed' :
      'Pending'}}</ion-badge
    >
  </ion-item>

  <ion-item
    class="ion-margin"
    lines="none"
    (click)="openAgreements('ENAgreements')"
  >
    <ion-label>Expert Network Agreements</ion-label>
    <ion-icon slot="start" color="primary" name="reader-outline"></ion-icon>
    <ion-badge
      [color]=" this.task.expertNetworkAgreements &&
  this.task.expertNetworkAgreements.signature.images.length > 0? 'success' : 'medium' "
      slot="end"
      >{{this.task.expertNetworkAgreements &&
      this.task.expertNetworkAgreements.signature.images.length > 0? 'Signed' :
      'Pending'}}</ion-badge
    >
  </ion-item>

  <ion-item class="ion-margin" lines="none">
    <ion-label>Complete Inspection</ion-label>
    <ion-fab-button color="success" (click)="completeTask()" class="ion-margin">
      <ion-icon name="walk-outline"></ion-icon>
    </ion-fab-button>
  </ion-item>
</ion-content>
