<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Summary</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="Inspections" [(ngModel)]="segmentOption">
      <ion-segment-button value="inspections">
        <ion-label>Inspections</ion-label>
      </ion-segment-button>
      <ion-segment-button value="scheduling">
        <ion-label>Scheduling</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="ion-no-padding" *ngIf="segmentOption === 'inspections'">
    <div *ngIf="this.inspectionTasks.length > 0; else noItems">
      <ion-item-group
        *ngFor="let group of this.inspectionTasks | groupBy: 'scheduleDay'"
      >
        <ion-item-divider color="light">
          {{ group.key | date: 'MMMM dd, yyyy' }}
        </ion-item-divider>

        <ion-item-sliding *ngFor="let task of group.list ">
          <ion-item-options side="end">
            <ion-item-option (click)="seeInspection(task)" color="white">
              <ion-icon
                color="primary"
                style="font-size: xx-large"
                name="create-outline"
              ></ion-icon
            ></ion-item-option>

            <ion-item-option (click)="call(task)" color="white">
              <ion-icon
                color="success"
                style="font-size: xx-large"
                name="call-outline"
              ></ion-icon
            ></ion-item-option>
            <ion-item-option (click)="seeDetails(task)" color="white">
              <ion-icon
                color="secondary"
                style="font-size: xx-large"
                name="book-outline"
              ></ion-icon
            ></ion-item-option>

            <ion-item-option
              color="white"
              (click)="trySync(task)"
              *ngIf="task.internalStatus === 'Pending'"
            >
              <ion-icon
                color="warning"
                style="font-size: xx-large"
                name="cloud-upload-outline"
              ></ion-icon
            ></ion-item-option>
          </ion-item-options>
          <ion-item class="ion-no-padding" (click)="seeInspection(task)">
            <div class="ion-text-center ion-padding">
              <ion-icon
                *ngIf="task.internalStatus =='Pending'"
                style="font-size: x-large"
                name="cloud-offline-outline"
                color="warning"
              ></ion-icon>

              <ion-icon
                name="cloud-done-outline"
                style="font-size: x-large"
                *ngIf="task.internalStatus =='Completed'"
                color="success"
              ></ion-icon>
            </div>
            <div>
              <ion-label>
                <h4 style="font-size: small">
                  <strong>{{ task.id + " - "+ task.title}}</strong>
                </h4>
                <h2>{{task.contactName}}</h2>

                <p>{{task.serviceAddress}}</p>
                <p>
                  <ion-badge
                    class="ion-no-margin"
                    *ngIf="task.internalStatus === 'Completed'"
                    color="success"
                    slot="end"
                    >Submitted</ion-badge
                  >
                </p>
              </ion-label>
            </div>
          </ion-item>

          <!--
        <ion-badge
          class="ion-no-margin"
          color="warning"
          *ngIf="task.internalStatus === 'Pending'"
          slot="end"
          >Pending Sync</ion-badge
        >
      </ion-item> -->
        </ion-item-sliding>
      </ion-item-group>
    </div>
    <ng-template #noItems>
      <ion-item> No inspection found. </ion-item>
    </ng-template>
  </ion-list>

  <ion-list *ngIf="segmentOption === 'scheduling'" class="ion-no-padding">
    <ion-item-sliding *ngFor="let item of schedulingList">
      <ion-item-options side="end"> </ion-item-options>
      <ion-item
        class="ion-no-padding"
        (click)="seeSchedulingDetails(item)"
        button
      >
        <ion-label>
          <h2>
            {{ (item && item.syncInfo ? item.syncInfo.syncCode : "") + " " +
            item.contact.firstName +" "+ item.contact.lastName}}
          </h2>
          <h3>{{item.serviceType}}</h3>
          <p>{{item.scheduleDateTime | date: 'MMMM dd, yyyy hh:mm a'}}</p>
          <p>
            <ion-badge
              class="ion-no-margin"
              *ngIf="item.internalStatus === 'Completed'"
              color="success"
              slot="end"
              >Scheduled</ion-badge
            >
            <ion-badge
              color="warning"
              class="ion-no-margin"
              *ngIf="item.internalStatus === 'Pending'"
              slot="end"
              >Pending Sync</ion-badge
            >
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
