<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Pending Inspections</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen content-id="main-content" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-list-header>
      <ion-item>
        <ion-label> <p>Last Sync {{lastSync | date: 'MMMM dd, yyyy hh:mm a'}}</p></ion-label>
      </ion-item>
    </ion-list-header>

    <ion-item-sliding *ngFor="let task of inspectionTasks">
      <ion-item-options side="end">
        <ion-item-option (click)="startInspection(task)" color="white">
          <ion-icon
            color="primary"
            style="font-size: xx-large"
            name="create-outline"
          ></ion-icon
        ></ion-item-option>
        <ion-item-option (click)="call(task)" color="white">
          <ion-icon
            color="success"
            style="font-size: xx-large"
            name="call-outline"
          ></ion-icon
        ></ion-item-option>
        <ion-item-option (click)="seeDetails(task)" color="white">
          <ion-icon
            color="secondary"
            style="font-size: xx-large"
            name="book-outline"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>
      <ion-item (click)="presentActionSheet(task)">
        <div class="ion-text-center">
          <ion-icon style="font-size: large" name="time-outline"></ion-icon>
          <ion-label
            ><p>{{task.scheduleDateTime | date: 'hh:mm a'}}</p></ion-label
          >
        </div>
        <div style="padding-left: 15px">
          <ion-label>
            <h2>{{task.contactName}}</h2>
            <h3>{{task.inspectionType}}</h3>
            <p>{{task.serviceAddress}}</p>
          </ion-label>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
