<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Pending Inspections</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon> </ion-button
    ></ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      value="All"
      [(ngModel)]="segmentOption"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="All">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Saved">
        <ion-label>Saved</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen content-id="main-content" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    class="ion-no-padding"
    style="margin-bottom: 1px"
    (ionChange)="onSearchTerm($event)"
    placeholder="Search a deal"
    [formControl]="searchControl"
  ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list class="ion-no-padding">
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-list-header class="ion-no-padding ion-text-end">
      <div class="">
        <ion-label>
          <p>
            Last Sync
            <strong> {{lastSync | date: 'MMMM dd, yyyy hh:mm a'}} </strong>
          </p>
        </ion-label>
      </div>
    </ion-list-header>
    <div *ngIf="inspectionTasks && inspectionTasks.length > 0; else noItems">
      <ion-item-group
        *ngFor="let group of this.inspectionTasks | groupBy: 'scheduleDay'"
      >
        <ion-item-divider color="light">
          {{ group.key | date: 'MMMM dd, yyyy' }}
        </ion-item-divider>

        <ion-item-sliding *ngFor="let task of group.list ">
          <ion-item-options side="end">
            <ion-item-option (click)="startInspection(task)" color="white">
              <ion-icon
                color="primary"
                style="font-size: xx-large"
                name="create-outline"
              ></ion-icon
            ></ion-item-option>
            <ion-item-option
              (click)="call(task)"
              color="white"
              *ngIf="task.phone"
            >
              <ion-icon
                color="success"
                style="font-size: xx-large"
                name="call-outline"
              ></ion-icon
            ></ion-item-option>
            <ion-item-option
              (click)="gpsNavigate(task)"
              color="white"
              *ngIf="task.serviceAddress"
            >
              <ion-icon
                color="tertiary"
                style="font-size: xx-large"
                name="navigate-outline"
              ></ion-icon
            ></ion-item-option>
            <ion-item-option (click)="seeDetails(task)" color="white">
              <ion-icon
                color="secondary"
                style="font-size: xx-large"
                name="book-outline"
              ></ion-icon
            ></ion-item-option>
          </ion-item-options>
          <ion-item class="ion-no-padding" (click)="presentActionSheet(task)">
            <!-- <ion-icon
          *ngIf="task.internalStatus == 'In Progress'"
          color="warning"
          slot="end"
          name="timer-outline"
          >In Progress</ion-icon
        > -->
            <div class="ion-text-center">
              <ion-icon
                *ngIf="task.internalStatus !='In Progress' && task.internalStatus !='New' && !task.internalStatus.includes('Pending')"
                style="font-size: large"
                name="save-outline"
                [color]="task.internalStatus === 'Completed'? 'success' : task.internalStatus.includes('Pending') ? 'danger' :
                task.internalStatus === 'In Progress'? 'warning' :  task.internalStatus === 'Saved'? 'primary' : task.internalStatus === 'Labs Sent'?'tertiary' :'medium' "
              ></ion-icon>

              <ion-icon
                *ngIf="task.internalStatus.includes('Pending')"
                style="font-size: large"
                name="cloud-upload-outline"
                [color]="task.internalStatus === 'Completed'? 'success' : task.internalStatus.includes('Pending') ? 'danger' :
              task.internalStatus === 'In Progress'? 'warning' :  task.internalStatus === 'Saved'? 'primary' : task.internalStatus === 'Labs Sent'?'tertiary' :'medium' "
              ></ion-icon>

              <ion-icon
                *ngIf="task.internalStatus =='In Progress' || task.internalStatus =='New'"
                style="font-size: large"
                name="time-outline"
                [color]="task.internalStatus === 'Completed'? 'success' : task.internalStatus.includes('Pending') ? 'danger' :
                task.internalStatus === 'In Progress'? 'warning' :  task.internalStatus === 'Saved'? 'primary' : task.internalStatus === 'Labs Sent'?'tertiary' :'medium' "
              ></ion-icon>
              <ion-label
                style="font-size: x-small"
                [color]="task.internalStatus === 'Completed'? 'success' : task.internalStatus.includes('Pending') ? 'danger' :
                task.internalStatus === 'In Progress'? 'warning' :  task.internalStatus === 'Saved'? 'primary' : task.internalStatus === 'Labs Sent'?'tertiary' :'medium' "
                >{{task.scheduleDateTime | date: 'hh:mm a'}}
              </ion-label>
            </div>
            <div style="padding-left: 5px">
              <ion-label>
                <h4 style="font-size: small">
                  {{task.id}} - <strong>{{task.title}}</strong>
                </h4>
                <h2>{{task.contactName}}</h2>

                <p>{{task.serviceAddress}}</p>

                <ion-badge
                  class="ion-no-margin"
                  *ngIf="task.wasRejected == true"
                  color="danger"
                  slot="end"
                  >Rejected</ion-badge
                >
              </ion-label>
            </div>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </div>
    <ng-template #noItems>
      <ion-item> No deals found. </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
