<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search Contact {{enterprise}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="create" [(ngModel)]="segmentOption">
      <ion-segment-button value="create">
        <ion-label>Create</ion-label>
      </ion-segment-button>
      <ion-segment-button value="search">
        <ion-label>Search</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="selectedContact"
  >
    <ion-fab-button
      color="success"
      class="ion-margin"
      (click)="confirmContact()"
    >
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item *ngIf="selectedContact" lines="none">
    <ion-chip
      *ngIf="selectedContact"
      color="success"
      (click)="confirmContact()"
      slot="start"
    >
      <ion-label>Confirm </ion-label>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip
      *ngIf="selectedContact"
      color="danger"
      (click)="clearSelectedContact()"
      slot="end"
    >
      <ion-label>Clear </ion-label>
      <ion-icon name="trash-bin-outline"></ion-icon>
    </ion-chip>
  </ion-item>

  <ion-item *ngIf="selectedContact">
    <ion-avatar slot="start">
      <img src="../../../assets/images/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <h3>{{selectedContact.firstName + " " +selectedContact.lastName}}</h3>
      <p>{{selectedContact.phone}}</p>
      <p>{{selectedContact.email}}</p>
    </ion-label>
  </ion-item>

  <div *ngIf="segmentOption=='search'">
    <p class="ion-padding">
      Search existent bitrix contact (only available online)
    </p>
    <ion-item>
      <ion-label position="stacked">Search contact by email</ion-label>
      <ion-searchbar
        [(ngModel)]="emailSearchText"
        (keypress)="searchEmail()"
        placeholder="Press enter to search email"
        name="emailSearchText"
      ></ion-searchbar>
    </ion-item>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <ion-item
      button
      *ngFor="let contact of contactsListFound; let i = index"
      (click)="selectContact(contact.idContact)"
    >
      <ion-icon
        *ngIf="contact.selected"
        name="checkmark-circle-outline"
        slot="start"
        color="success"
      ></ion-icon>
      <ion-avatar slot="start">
        <img src="../../../assets/images/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>{{contact.firstName + " " +contact.lastName}}</h3>
        <p>{{contact.phone}}</p>
        <p>{{contact.email}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="segmentOption=='create'">
    <form novalidate>
      <!-- FirstName -->
      <ion-item lines="full">
        <ion-label position="floating">First Name</ion-label>

        <ion-input
          name="firstName"
          #firstName="ngModel"
          autocapitalize="words"
          [(ngModel)]="newContact.firstName"
          [value]="newContact.firstName"
          type="text"
          required
        ></ion-input>
      </ion-item>
      <!-- pattern="[a-zA-Z]*"
    required
    #firstName="ngModel" -->
      <div class="validation-errors">
        <div
          *ngIf="firstName.errors && (firstName.dirty || firstName.touched) "
        >
          <p *ngIf="firstName.errors.required">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Required </ion-label>
          </p>
        </div>
      </div>

      <!-- Last Name -->
      <ion-item lines="full">
        <ion-label position="floating">Last Name</ion-label>

        <ion-input
          name="lastName"
          #lastName="ngModel"
          [(ngModel)]="newContact.lastName"
          type="text"
          required
          autocapitalize="words"
        ></ion-input>
      </ion-item>

      <div class="validation-errors">
        <div *ngIf=" lastName.errors && (lastName.dirty || lastName.touched) ">
          <p *ngIf="lastName.errors.required">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Required </ion-label>
          </p>
        </div>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Phone</ion-label>
        <ion-input
          name="phone"
          #phone="ngModel"
          [(ngModel)]="newContact.phone"
          type="tel"
          pattern="[- +()0-9]+"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <div *ngIf=" phone.errors && (phone.dirty || phone.touched) ">
          <p *ngIf="phone.errors.required">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Required </ion-label>
          </p>
          <p *ngIf="phone.errors.pattern">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Phone not valid </ion-label>
          </p>
        </div>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          name="email"
          #email="ngModel"
          [(ngModel)]="newContact.email"
          type="email"
          email
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <div *ngIf="email.errors && (email.dirty || email.touched) ">
          <p *ngIf="email.errors.required">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Required </ion-label>
          </p>
          <p *ngIf="email.errors.email">
            <ion-icon
              color="danger"
              name="information-circle-outline"
            ></ion-icon>
            <ion-label color="danger"> Email not valid </ion-label>
          </p>
        </div>
      </div>

      <ion-row class="ion-padding">
        <ion-col>
          <ion-button
            full
            (click)="saveNewContact()"
            expand="block"
            [disabled]="! 
            ( 
              newContact.firstName && ! firstName.errors 
            && newContact.lastName && ! lastName.errors 
            && ! phone.errors 
            && ! email.errors 
            
            )
            "
            >Save</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
