<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inspection </ion-title>
    <ion-badge
      slot="end"
      [color]="task.inspectionType =='Environmental Inspection' ? 'environmental' : 'comprehensive'"
      style="margin-right: 1em"
      >{{task.inspectionType}}</ion-badge
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-inspection-general
    ngDefaultControl
    [(generalInfo)]="task.generalInfoInspection"
  >
  </app-inspection-general>
  <ion-list>
    <ion-item>
      <ion-button (click)="completeTask()" expand="block" full color="success">
        Complete Inspection
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
