<ion-item (click)="toggleAccordion()" lines="none" detail="false">
  <ion-label [color]="titleColor"> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="showSuccess && progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip *ngIf="selectAreaName" color="secondary" slot="end">
    {{ selectAreaName }}
  </ion-chip>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Area Name</ion-label>
    <ion-select
      interface="popover"
      name="area"
      [disabled]="readonly"
      [(ngModel)]="_model.area"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option
        *ngFor="let item of listArea; let i = index"
        [value]="item.value"
      >
        {{ item.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <ion-item lines="inset" *ngIf="other == _model.area">
    <ion-label position="floating">Area name (Other)</ion-label>
    <ion-input
      [(ngModel)]="_model.areaOther"
      (ionChange)="changeModel($event)"
      autocapitalize="sentences"
      type="text"
      [readonly]="readonly"
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Room temperature</ion-label>
    <ion-input
      [(ngModel)]="_model.roomTemp"
      (ionInput)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Relative Humidity</ion-label>
    <ion-input
      [(ngModel)]="_model.relativeHumidity"
      (ionInput)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Dew Point</ion-label>
    <ion-input
      [(ngModel)]="_model.dewPoint"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (North)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureNorth"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (West)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureWest"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (South)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureSouth"
      (ionInput)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (East)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureEast"
      (ionInput)="changeModel($event)"
      type="number"
      [readonly]="readonly"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (Ceiling)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureCeiling"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (Floor)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureFloor"
      (ionInput)="changeModel($event)"
      [readonly]="readonly"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-item
    (click)="toggleAccordion()"
    lines="none"
    button
    class="ion-no-margin"
    detail="false"
  >
    <ion-label color="warning"> {{ "End " + title }}</ion-label>

    <ion-icon
      slot="end"
      *ngIf="!isMenuOpen"
      name="caret-down-outline"
    ></ion-icon>
    <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
  </ion-item>
</div>
