<ion-item (click)="toggleAccordion()" lines="none" button>
  <ion-label [color]="titleColor"> {{ title }} </ion-label>
  <ion-icon
    slot="start"
    color="success"
    *ngIf="showSuccess && progressPercentage >= 1"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-chip *ngIf="_model.area" color="secondary" slot="end">
    {{ _model.area }}
  </ion-chip>
  <ion-icon slot="end" *ngIf="!isMenuOpen" name="caret-down-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="isMenuOpen" name="caret-up-outline"></ion-icon>
</ion-item>
<ion-progress-bar
  color="{{ progressColor }}"
  value="{{ progressPercentage }}"
></ion-progress-bar>
<div *ngIf="isMenuOpen">
  <ion-item>
    <ion-label position="floating">Area Name</ion-label>
    <ion-select
      interface="popover"
      name="name"
      [(ngModel)]="_model.area"
      (ionChange)="changeModel($event)"
    >
      <ion-select-option value="Bedroom 1"> Bedroom 1</ion-select-option>
      <ion-select-option value="Bedroom 2"> Bedroom 2</ion-select-option>
      <ion-select-option value="Bedroom 3"> Bedroom 3</ion-select-option>
      <ion-select-option value="Bedroom 4"> Bedroom 4 </ion-select-option>
      <ion-select-option value="Bedroom 5"> Bedroom 5</ion-select-option>
      <ion-select-option value="Bedroom 6"> Bedroom 6</ion-select-option>
      <ion-select-option value="Living"> Living</ion-select-option>
      <ion-select-option value="Room"> Room</ion-select-option>
      <ion-select-option value="Dining Room"> Dining Room</ion-select-option>
      <ion-select-option value="Florida Room"> Florida Room</ion-select-option>
      <ion-select-option value="Bathroom 1"> Bathroom 1 </ion-select-option>
      <ion-select-option value="Bathroom 2"> Bathroom 2</ion-select-option>
      <ion-select-option value="Bathroom 3"> Bathroom 3</ion-select-option>
      <ion-select-option value="Bathroom 4"> Bathroom 4</ion-select-option>
      <ion-select-option value="Bathroom 5"> Bathroom 5</ion-select-option>
      <ion-select-option value="Laundry"> Laundry</ion-select-option>
      <ion-select-option value="Garage"> Garage</ion-select-option>
      <ion-select-option value="Utility Room"> Utility Room</ion-select-option>
      <ion-select-option value="Kitchen"> Kitchen</ion-select-option>
      <ion-select-option value="Attic"> Attic</ion-select-option>
      <ion-select-option value="Other"> Other</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Room temperature</ion-label>
    <ion-input
      [(ngModel)]="_model.roomTemp"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Relative Humidity</ion-label>
    <ion-input
      [(ngModel)]="_model.relativeHumidity"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Dew Point</ion-label>
    <ion-input
      [(ngModel)]="_model.dewPoint"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (North)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureNorth"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (West)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureWest"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (South)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureSouth"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (East)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureEast"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (Ceiling)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureCeiling"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Standard Temperature (Floor)</ion-label>
    <ion-input
      [(ngModel)]="_model.standardTemperatureFloor"
      (ionChange)="changeModel($event)"
      type="number"
      required
    ></ion-input>
  </ion-item>
</div>
