<ion-header>
  <ion-toolbar color="scheduling">
    <ion-title>Scheduling</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    class="form"
    [formGroup]="validations_form"
    (ngSubmit)="onSubmit(validations_form.value)"
  >
    <!-- FirstName -->
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input
        formControlName="firstName"
        class="form-controll"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.firstName">
        <div
          *ngIf="validations_form.get('firstName').hasError(validation.type) && (validations_form.get('firstName').dirty || validations_form.get('firstName').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon>
          <ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Last Name -->
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input
        formControlName="lastName"
        class="form-controll"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastName">
        <div
          *ngIf="validations_form.get('lastName').hasError(validation.type) && (validations_form.get('lastName').dirty || validations_form.get('lastName').touched)"
        >
          <ion-icon name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>
    <!-- Phone -->
    <ion-item lines="full">
      <ion-label position="floating">Phone</ion-label>
      <ion-input
        formControlName="contactPhone"
        class="form-controll"
        type="tel"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.contactPhone">
        <div
          *ngIf="validations_form.get('contactPhone').hasError(validation.type) && (validations_form.get('contactPhone').dirty || validations_form.get('contactPhone').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Email -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        formControlName="contactEmail"
        class="form-controll"
        type="email"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.contactEmail">
        <div
          *ngIf="validations_form.get('contactEmail').hasError(validation.type) && (validations_form.get('contactEmail').dirty || validations_form.get('contactEmail').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Address -->
    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input
        formControlName="serviceAddress"
        class="form-controll"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container
        *ngFor="let validation of validation_messages.serviceAddress"
      >
        <div
          *ngIf="validations_form.get('serviceAddress').hasError(validation.type) && (validations_form.get('serviceAddress').dirty || validations_form.get('serviceAddress').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Insurance Company -->
    <ion-item lines="full">
      <ion-label position="floating">Insurance Company</ion-label>
      <ion-input
        formControlName="insuranceCompany"
        class="form-controll"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container
        *ngFor="let validation of validation_messages.insuranceCompany"
      >
        <div
          *ngIf="validations_form.get('insuranceCompany').hasError(validation.type) && (validations_form.get('insuranceCompany').dirty || validations_form.get('insuranceCompany').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Notes -->
    <ion-item lines="full">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea
        formControlName="notes"
        class="form-controll"
        type="text"
      ></ion-textarea>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.notes">
        <div
          *ngIf="validations_form.get('notes').hasError(validation.type) && (validations_form.get('notes').dirty || validations_form.get('notes').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- Open Claims -->
    <ion-item lines="full">
      <ion-item>
        <ion-label>Open Claims</ion-label>
        <ion-toggle
          formControlName="openClaims"
          class="form-controll"
          slot="start"
          name="cherry"
          color="danger"
        ></ion-toggle>
      </ion-item>
    </ion-item>

    <!-- Employee -->
    <ion-item>
      <ion-label>Select Employee</ion-label>
      <ion-select
        interface="action-sheet"
        formControlName="inspectorName"
        class="form-controll"
      >
        <ion-select-option value="Inspector A">Inspector A</ion-select-option>
        <ion-select-option value="Inspector B">Inspector B</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container
        *ngFor="let validation of validation_messages.inspectorName"
      >
        <div
          *ngIf="validations_form.get('inspectorName').hasError(validation.type) && (validations_form.get('inspectorName').dirty || validations_form.get('inspectorName').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- service -->
    <ion-item>
      <ion-label>Select Service</ion-label>
      <ion-select
        interface="action-sheet"
        formControlName="serviceType"
        class="form-controll"
      >
        <ion-select-option value="1"
          >Free Home Inspection - 2 hr</ion-select-option
        >
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.serviceType">
        <div
          *ngIf="validations_form.get('serviceType').hasError(validation.type) && (validations_form.get('serviceType').dirty || validations_form.get('serviceType').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <!-- date -->
    <ion-item>
      <ion-label>Select date</ion-label>
      <ion-datetime
        [min]="minDate"
        [max]="maxDate"
        formControlName="scheduleDateTime"
        class="form-controll"
        placeholder="Select Date"
      ></ion-datetime>
    </ion-item>
    <div class="validation-errors">
      <ng-container
        *ngFor="let validation of validation_messages.scheduleDateTime"
      >
        <div
          *ngIf="validations_form.get('scheduleDateTime').hasError(validation.scheduleDateTime) && (validations_form.get('scheduleDateTime').dirty || validations_form.get('scheduleDateTime').touched)"
        >
          <ion-icon color="danger" name="information-circle-outline"></ion-icon
          ><ion-label color="danger"> {{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-button
          full
          type="submit"
          [disabled]="!validations_form.valid"
          type="submit"
          expand="block"
          >Send</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
