<ion-header>
  <ion-toolbar color="scheduling">
    <ion-title>Scheduling</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button
        *ngIf="scheduling.internalStatus == 'New'"
      ></ion-menu-button>
      <ion-back-button
        defaulthref=""
        *ngIf="scheduling.internalStatus != 'New'"
      >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form novalidate>
    <!-- <ion-item *ngIf="scheduling.syncInfo.isSync">
 TODO: insert url to open in bitrix
   </ion-item> -->
    <ion-item>
      <ion-label color="primary">
        <center>
          <h2>
            {{scheduling.serviceType == 'ITest'? 'Environmental (ITest)':
            "Expert Networks" }}
          </h2>
        </center>
      </ion-label>
    </ion-item>

    <!-- <ion-item lines="none">
    
    </ion-item> -->
    <ion-item lines="none">
      <ion-label>Contact </ion-label>

      <ion-icon
        *ngIf="!scheduling.contact || !scheduling.contact.firstName"
        color="danger"
        slot="start"
        name="warning-outline"
      ></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="!scheduling.syncInfo.isSync">
      <ion-chip
        [disabled]="!scheduling.serviceType"
        color="primary"
        (click)="searchContact('inspectionContact')"
        slot="end"
      >
        <ion-label>Search or Create New Contact</ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-chip>
    </ion-item>

    <ion-item *ngIf="scheduling.contact && scheduling.contact.firstName">
      <ion-avatar slot="start">
        <img src="../../../assets/images/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>
          {{scheduling.contact.firstName + " " + scheduling.contact.lastName}}
        </h3>
        <p>{{scheduling.contact.phone}}</p>
        <p>{{scheduling.contact.email}}</p>
      </ion-label>
      <ion-chip
        color="danger"
        (click)="clearSelectedContact('inspectionContact')"
        slot="end"
      >
        <ion-label>Clear</ion-label>
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-chip>
    </ion-item>

    <ion-item lines="full">
      <ion-icon
        *ngIf="!scheduling.serviceAddress"
        color="danger"
        slot="start"
        name="warning-outline"
      ></ion-icon>
      <ion-label position="floating">Address</ion-label>
      <ion-input
        name="serviceAddress"
        #serviceAddress="ngModel"
        autocapitalize="words"
        [(ngModel)]="scheduling.serviceAddress"
        type="text"
        [disabled]="scheduling.syncInfo.isSync"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        *ngIf="serviceAddress.errors && (serviceAddress.dirty || serviceAddress.touched) "
      >
        <p *ngIf="serviceAddress.errors.required">
          <ion-icon color="danger" name="warning-outline"></ion-icon>
          <ion-label color="danger"> Required </ion-label>
        </p>
      </div>
    </div>
    <div
      id="types"
      *ngIf="scheduling.serviceType && scheduling.serviceType =='ITest'"
    >
      <app-multiple-radio
        title="Inspection Types"
        ngDefaultControl
        name="inspectionTypes"
        [readonly]="scheduling.syncInfo.isSync"
        [options]="inspectionTypes"
        [(data)]="scheduling.inspectionTypes"
      ></app-multiple-radio>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Inspector Instructions</ion-label>
      <ion-icon
        *ngIf="!scheduling.notes"
        color="danger"
        slot="start"
        name="warning-outline"
      ></ion-icon>
      <ion-textarea
        name="notes"
        #notes="ngModel"
        autocapitalize="sentences"
        [disabled]="scheduling.syncInfo.isSync"
        [(ngModel)]="scheduling.notes"
        type="text"
      ></ion-textarea>
    </ion-item>

    <div id="insurance">
      <ion-item lines="none">
        <ion-label>Insurance Company</ion-label>
      </ion-item>

      <ion-item
        lines="none"
        class="no-padding"
        *ngIf="!scheduling.syncInfo.isSync"
      >
        <ion-chip
          *ngIf="!scheduling.syncInfo.isSync"
          color="primary"
          (click)="searchContact('insurance')"
          slot="end"
          [disabled]=" !scheduling.serviceType"
        >
          <ion-label>Contact</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-chip>
        <ion-chip
          color="secondary"
          (click)="searchCompany('insurance')"
          slot="end"
          [disabled]=" !scheduling.serviceType"
        >
          <ion-label>Company</ion-label>
          <ion-icon name="briefcase-outline"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item *ngIf="scheduling.insuranceCompanyContact">
        <ion-avatar slot="start">
          <img src="../../../assets/images/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h3>
            {{scheduling.insuranceCompanyContact.firstName + " " +
            scheduling.insuranceCompanyContact.lastName}}
          </h3>
          <p>{{scheduling.insuranceCompanyContact.phone}}</p>
          <p>{{scheduling.insuranceCompanyContact.email}}</p>
        </ion-label>
        <ion-chip
          color="danger"
          (click)="clearSelectedContact('insurance')"
          slot="end"
        >
          <ion-label>Clear</ion-label>
          <ion-icon name="trash-bin-outline"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item *ngIf="scheduling.insuranceCompany">
        <ion-avatar slot="start">
          <img src="../../../assets/images/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h3>{{scheduling.insuranceCompany.title}}</h3>
          <p>{{scheduling.insuranceCompany.type}}</p>
          <p>{{scheduling.insuranceCompany.phone}}</p>
          <p>{{scheduling.insuranceCompany.email}}</p>
        </ion-label>
        <ion-chip
          color="danger"
          (click)="clearSelectedCompany('insurance')"
          slot="end"
        >
          <ion-label>Clear</ion-label>
          <ion-icon name="trash-bin-outline"></ion-icon>
        </ion-chip>
      </ion-item>
    </div>
    <div id="referal">
      <ion-item lines="none">
        <ion-label>Referal Partner</ion-label>
      </ion-item>
      <ion-item
        lines="none"
        class="no-padding"
        *ngIf="!scheduling.syncInfo.isSync"
      >
        <ion-chip
          *ngIf="!scheduling.syncInfo.isSync"
          color="primary"
          (click)="searchContact('referal')"
          slot="end"
          [disabled]=" !scheduling.serviceType"
        >
          <ion-label>Contact</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-chip>
        <ion-chip
          *ngIf="scheduling.serviceType =='ITest'"
          color="secondary"
          (click)="searchCompany('referal')"
          slot="end"
          [disabled]=" !scheduling.serviceType"
        >
          <ion-label>Company</ion-label>
          <ion-icon name="briefcase-outline"></ion-icon>
        </ion-chip>
      </ion-item>
      <ion-item *ngIf="scheduling.referalPartner">
        <ion-avatar slot="start">
          <img src="../../../assets/images/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h3>
            {{scheduling.referalPartner.firstName + " " +
            scheduling.referalPartner.lastName}}
          </h3>
          <p>{{scheduling.referalPartner.phone}}</p>
          <p>{{scheduling.referalPartner.email}}</p>
        </ion-label>

        <ion-chip
          color="danger"
          (click)="clearSelectedContact('referal')"
          slot="end"
        >
          <ion-label>Clear</ion-label>
          <ion-icon name="trash-bin-outline"></ion-icon>
        </ion-chip>
      </ion-item>

      <ion-item *ngIf="scheduling.referalPartnerCompany">
        <ion-avatar slot="start">
          <img src="../../../assets/images/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h3>{{scheduling.referalPartnerCompany.title}}</h3>
          <p>{{scheduling.referalPartnerCompany.type}}</p>
          <p>{{scheduling.referalPartnerCompany.phone}}</p>
          <p>{{scheduling.referalPartnerCompany.email}}</p>
        </ion-label>
        <ion-chip
          color="danger"
          (click)="clearSelectedCompany('referal')"
          slot="end"
        >
          <ion-label>Clear</ion-label>
          <ion-icon name="trash-bin-outline"></ion-icon>
        </ion-chip>
      </ion-item>
    </div>

    <ion-item lines="full">
      <ion-item>
        <ion-label>Open Claims</ion-label>
        <ion-toggle
          name="openClaims"
          #openClaims="ngModel"
          [(ngModel)]="scheduling.openClaims"
          slot="start"
          name="cherry"
          [disabled]="scheduling.syncInfo.isSync"
          color="danger"
        ></ion-toggle>
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select Employee</ion-label>
      <ion-select
        name="inspectorUserId"
        #inspectorUserId="ngModel"
        [disabled]="scheduling.syncInfo.isSync"
        [(ngModel)]="scheduling.inspectorUserId"
        interface="popover"
        required
      >
        <ion-select-option
          *ngFor="let item of inspectorsList; let i = index"
          [value]="item.userId"
        >
          {{ item.completeName }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <div
        *ngIf="inspectorUserId.errors && (inspectorUserId.dirty || inspectorUserId.touched) "
      >
        <p *ngIf="inspectorUserId.errors.required">
          <ion-icon color="danger" name="information-circle-outline"></ion-icon>
          <ion-label color="danger"> Required </ion-label>
        </p>
      </div>
    </div>

    <ion-item>
      <ion-icon
        *ngIf="!scheduling.scheduleDateTime"
        color="danger"
        slot="start"
        name="warning-outline"
      ></ion-icon>
      <ion-label position="floating">Select date</ion-label>

      <ion-datetime
        [min]="minDate"
        [max]="maxDate"
        [disabled]="scheduling.syncInfo.isSync"
        name="scheduleDateTime"
        #scheduleDateTime="ngModel"
        [(ngModel)]="scheduling.scheduleDateTime"
        displayFormat="MMMM DD, YYYY"
        pickerFormat="MMMM DD YYYY "
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon
        *ngIf="!selectedDate"
        color="danger"
        slot="start"
        name="warning-outline"
      ></ion-icon>
      <ion-label position="floating">Select Hour</ion-label>

      <ion-datetime
        [min]="minDate"
        [max]="maxDate"
        name="scheduleDateTime"
        [disabled]="scheduling.syncInfo.isSync"
        minuteValues="0,15,30,45"
        #scheduleDateTime="ngModel"
        [(ngModel)]="selectedDate"
        displayFormat="h:mm A"
        pickerFormat="h:mm A"
        (ionChange)="hourChanged()"
      ></ion-datetime>
    </ion-item>

    <ion-row class="ion-padding" *ngIf="scheduling.internalStatus == 'New'">
      <ion-col>
        <ion-button
          full
          (click)="onSubmit()"
          expand="block"
          [disabled]="! 
          ( scheduling.serviceAddress && !serviceAddress.errors   
          && scheduling.notes && !notes.errors          
          && scheduling.inspectorUserId && !inspectorUserId.errors
          && scheduling.scheduleDateTime && !scheduleDateTime.errors
          && scheduling.contact && scheduling.contact.firstName 
          
          )"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
